@import url(https://fonts.googleapis.com/css?family=Open+Sans:800,700);

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* ============================== GENERAL STYLES ====================== */

    html,body,main{
        height: 100%;
    }
    
    a{
        text-decoration: none;
    }

    html{
        color: #222;
        font-size: 12px;
        line-height: 1.4;
        background: #e8524e;
        font-family: 'Open Sans', sans-serif;
    }
    
    #sc-widget{
        position: fixed;
        -webkit-transform: translate(-50%, 0px);
        -ms-transform: translate(-50%, 0px);
        transform: translate(-50%, 0px);
        top: 10px;
        left: 50%;
        max-width: 500px;
        width: 95%;
        
        
    }

    .kanye{
        position: fixed;
        -webkit-transform: translate(-50%, 0px);
        -ms-transform: translate(-50%, 0px);
        transform: translate(-50%, 0px);
        bottom: 0;
        left: 50%;
        max-width: 70%;
    }
    
    #weather{
        position: fixed;
        font-weight: 800;
        font-size: 3rem;
        text-align: right;
        color: #f5e8d3;
        padding: 0;
        bottom: 20px;
        right: 20px;
    }

    #weather p{
        font-weight: 700;
        margin-top: 15px;
    }
    
    .social-container{
        position: fixed;
        bottom: 10px;
        left: 10px;
    }
    .icon-twitter{
        font-size: 2rem;
        color: #505385;
    }

/* ============================== SPECIFIC STYLES ====================== */


/* =========================== Media Queries ======================================= */

@media only screen and (min-width: 600px) {
    html {
        font-size: 16px;

    }
    
    .kanye{
        max-width: 100%;
    }
    
    
    
    #weather{
        bottom: 75px;
        right: 60px;
    }
    

    
}

@media only screen and (max-height: 600px) and (orientation: landscape){
    
    .kanye{
        width: 65%;
        left: 0;
    }
    
    #sc-widget{
        width: 300px;
        position: fixed;
        -webkit-transform: translate( 0px, 0px);
        -ms-transform: translate( 0px, 0px);
        transform: translate( 0px, 0px);
        left: auto;
        right: 20px !important;
        top: 30px;
    }
     #weather{
         bottom: 20px;
        right: 20px;
     }
    
    .social-container{
        -webkit-transform: translate( 0px, 0px);
        -ms-transform: translate( 0px, 0px);
        transform: translate( 0px, 0px);
        bottom: 10px;
        left: 50%;
    }
    
}

@media print,
    (-webkit-min-device-pixel-ratio: 1.25),
    (min-resolution: 120dpi) {
        
        
}

/* ==================== FONTS ========================= */

@font-face {
  font-family: "twitter";
  src:url("../fonts/twitter.eot");
  src:url("../fonts/twitter.eot?#iefix") format("embedded-opentype"),
    url("../fonts/twitter.woff") format("woff"),
    url("../fonts/twitter.ttf") format("truetype"),
    url("../fonts/twitter.svg#twitter") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "twitter" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "twitter" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
  content: "\61";
}
