@charset "UTF-8";

@font-face {
  font-family: "twitter";
  src:url("fonts/twitter.eot");
  src:url("fonts/twitter.eot?#iefix") format("embedded-opentype"),
    url("fonts/twitter.woff") format("woff"),
    url("fonts/twitter.ttf") format("truetype"),
    url("fonts/twitter.svg#twitter") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "twitter" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "twitter" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
  content: "\61";
}
